<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background:yellow">
        <h1> This Is Header Portion</h1>
    </header>
        @RenderBody()
    <footer>
        <h4 style="background:lightgreen"> This Is footer Portion</h4>
    </footer>
</body>
</html>
