
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About page</h1>
@* <h2>This is my About us page</h2> *@
<h4> This value is coming from as TempView @TempData["color_combination"] </h4>
